
/* COLORS */
$clr-100: hsl(0, 0%, 100%);
$clr-200: hsl(300, 24%, 96%);
$clr-300: hsl(333, 80%, 67%);
$clr-400: hsl(303, 10%, 53%);
$clr-500: hsl(300, 43%, 22%);

/* TYPE */
$ff-regular: 'League Spartan', sans-serif;

$fw-light: 400;
$fw-regular: 500;
$fw-bold: 700;

$fs-header: 2.5rem;
$fs-header-desktop: 3.5rem;
$fs-regular: 1.063rem;
$fs-accent: 1.188rem;


